@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";


*{

}

html{

}

body{

}

span{
    cursor: pointer;
}

.icon-large{
    font-size: 50px;
    line-height: 50px;
}

.icon-medium{
      font-size: 35px;
    line-height: 35px;
}

.icon-small{
      font-size: 20px;
    line-height: 20px;
}

.right{
    float: right;
}

.left{
    float: left;
}
